.body{
   
    background-color: coral;
}
.container-fluid{
margin: 0 auto;

    color: navy;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.jumbotron{
    background-image: url(li.jpeg);
    background-size: cover;
    height: 100vh;
    color: coral;
    padding: 30%;
    margin: 11px;

}
footer  {
    background-color: rgb(36, 36, 207);
    padding: 25px;
    color: coral;
  }
#jp{
    font-size: 78px;
}